$Dark-Blue-Gray:#666CA3;
$Yankees-Blue:  #13183F;
$Roman-Silver:#83869A;
$Sasquatch-Socks:#F74780;
$Carnation-Pink:#FFA7C3;
$White:#FFFFFF;
$Frostbite:hsl(322,87%,55%);
$Outrageous-Orange: hsl(13, 100%,64%);
$Ultramarine-Blue:hsl(237, 100%,65%);

$maxMobile:"(max-width:767px)";
$minSmall:"(min-width:768px)";
$minMedium:"(min-width:992px)";



